{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-runtime","@babel/plugin-proposal-class-properties"],
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}